**Подключение к базе и выгрузка данных**

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db' # путь к файлу

In [3]:
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [4]:
query = """SELECT user.user_id,
                  user.lt_day,
                  CASE
                      WHEN user.lt_day <= 365 THEN TRUE
                      WHEN user.lt_day > 365 THEN FALSE
                  END AS is_new,
                  user.age,
                  CASE
                      WHEN user.gender_segment=1 THEN 'женщины'
                      WHEN user.gender_segment=0 THEN 'мужчины'
                  END AS gender_segment,
                  user.os_name,
                  user.cpe_type_name,
                  location.country,
                  location.city,
                  age_segment.title AS age_segment,
                  traffic_segment.title AS traffic_segment,
                  lifetime_segment.title AS lifetime_segment,
                  user.nps_score,
                  CASE
                      WHEN user.nps_score>=0 AND user.nps_score<=6 THEN 'критики'
                      WHEN user.nps_score>=7 AND user.nps_score<=8 THEN 'нейтралы'
                      WHEN user.nps_score>=9 AND user.nps_score<=10 THEN 'cторонники'
                  END AS nps_group
           FROM user
           LEFT JOIN location ON user.location_id=location.location_id
           LEFT JOIN age_segment ON user.age_gr_id=age_segment.age_gr_id
           LEFT JOIN traffic_segment ON user.tr_gr_id=traffic_segment.tr_gr_id
           LEFT JOIN lifetime_segment ON user.lt_gr_id=lifetime_segment.lt_gr_id
        """

In [5]:
df = pd.read_sql(query, engine) 
df

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,0,45.0,женщины,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,cторонники
1,A001WF,2344,0,53.0,мужчины,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,cторонники
2,A003Q7,467,0,57.0,мужчины,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,cторонники
3,A004TB,4190,0,44.0,женщины,IOS,SMARTPHONE,Россия,РостовнаДону,04 35-44,03 0.1-1,08 36+,10,cторонники
4,A004XT,1163,0,24.0,мужчины,ANDROID,SMARTPHONE,Россия,Рязань,02 16-24,05 5-10,08 36+,10,cторонники
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,ZZZKLD,1249,0,54.0,женщины,ANDROID,SMARTPHONE,Россия,Москва,05 45-54,04 1-5,08 36+,5,критики
502489,ZZZLWY,129,1,31.0,мужчины,ANDROID,SMARTPHONE,Россия,Москва,03 25-34,04 1-5,04 4-6,8,нейтралы
502490,ZZZQ5F,522,0,36.0,мужчины,ANDROID,SMARTPHONE,Россия,Сургут,04 35-44,09 25-30,06 13-24,10,cторонники
502491,ZZZQ8E,2936,0,37.0,женщины,ANDROID,SMARTPHONE,Россия,УланУдэ,04 35-44,17 65-70,08 36+,9,cторонники
502492,ZZZYH0,2471,0,37.0,мужчины,IOS,SMARTPHONE,Россия,Самара,04 35-44,06 10-15,08 36+,2,критики

In [6]:
df.to_csv('df.csv')

Ссылка на дашборд
https://public.tableau.com/app/profile/natashkaa.d/viz/MyViz2_16679881823630/Dashboard1?publish=yes

Ссылка на презентацию
https://jing.yandex-team.ru/files/natali0105/Презентация%207%20%283%29.pdf